@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div>
            <h2>Product Catalog <span class="badge badge-secondary">New Products Everyday</span></h2>
            <a class="btn btn-dark" asp-controller="Product" asp-action="Index">Catalog</a>
        </div>
    </div>
